@page
@model decklistModel
@{
    ViewData["Title"] = "decklistView";
}

<div class="text-center">
    <h1 class="display-4">Decklist</h1>
    <table>
        <tr>
            <td>Cards:</td>
        </tr>
        @foreach (var card in Model.decklist)
        {
            <tr>
                <td id="@card.name" data-toggle="tooltip" 
                  title="<img src='@card.imageUrl' />" data-placement="right"> @card.quantity x  @card.name</td>
            </tr>
        }
    </table>
</div>
