@page
@model decklistModel
@{
    ViewData["Title"] = "decklistView";
}

<div class="text-center">
    <h1 class="display-4">Decklist</h1>
    @foreach (var card in Model.decklist)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    @card.name
                </h5>
                <p>@card.quantity</p>
                <p>@card.set</p>
            </div>
        </div>
    }
</div>
