@{
    ViewData["Title"] = "Home Page";
}

<h1>API</h1>

<table class="table bg-dark text-white">
    <thead>
        <tr>
            <th>
               Async API Requests
            </th>
            <th>
                Path
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                (GET) Get all Decks
            </td>
            <td>
                /api/decklist
            </td>
        </tr>
        <tr>
            <td>
                (GET) Get Deck by Id
            </td>
            <td>
                /api/decklist/{id}
            </td>
        </tr>
        <tr>
            <td>
                (POST)Add new Deck
            </td>
            <td>
                /api/decklist
            </td>
        </tr>
        <tr>
            <td>
                (DEL) Delete Deck
            </td>
            <td>
                /api/decklist/{id}
            </td>
        </tr>

    </tbody>
</table>