@{
    ViewData["Title"] = "Home Page";
}

<h1>API</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                API Requests
            </th>
            <th>
                Path
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                (GET) Get Decks
            </td>
            <td>
                /decklist
            </td>
        </tr>
        <tr>
            <td>
                (POST)Add new Deck
            </td>
            <td>
                /decklist
            </td>
        </tr>
        <tr>
            <td>
                (DEL) Delete Deck
            </td>
            <td>
                /decklist?=id={id}
            </td>
        </tr>

    </tbody>
</table>