@model MTG_Mvc.Domain.Entities.decklist

@{
    ViewData["Title"] = "Create";
}

<h1>Create new Decklist</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="deckName" class="control-label"></label>
                <input asp-for="deckName" class="form-control" />
                <span asp-validation-for="deckName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cards" class="control-label"></label>
                <textarea asp-for="requestBody" class="form-control" style="height:35em">
                </textarea>
                <span asp-validation-for="requestBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <p>Each line represents 1 card</p>
        <p>Example:</p>
        <p>4 Viashino Pyromancer (M19) | This works</p>
        <p>4 Viashino Pyromancer (M19) 2 Shock (M19) | This dosn't work</p>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
